---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Meet The Team">
    <div class="flex flex-col h-screen w-screen p-20 mt-20 mb-20 gap-5">
        <h1 class="text-4xl sm:text-6xl sm:p-0 p-2 text-center font-bold text-purple-800">About Us</h1>
        <p class="text-xl sm:text-2xl text-left">Financial literacy is an essential life skill, yet many people lack the knowledge and resources needed to make informed decisions about their finances. Fynaplan, a student-run financial literacy platform, aims to bridge this gap by providing accessible financial education to individuals across the nation. With a focus on spreading awareness and offering tools to help people manage their money effectively, Fynaplan is committed to empowering individuals to take control of their financial future. <br> <br>

            Fynaplan’s mission goes beyond just teaching basic financial concepts. The platform is designed to engage with people of all ages and backgrounds, making complex financial topics simple and relatable. By offering clear, concise information, Fynaplan enables users to understand crucial topics such as budgeting, saving, investing, and credit management. These lessons help individuals develop financial habits that can lead to long-term stability and success.<br> <br>
            
            One of the unique aspects of Fynaplan is its student-driven nature. Students who are passionate about finance and education have come together to create a platform that resonates with their peers and the broader community. This peer-to-peer learning model fosters a sense of connection and relatability, encouraging more people to take part in learning about finances. By being run by students, Fynaplan also provides a platform for young leaders to grow their skills in finance and education.<br> <br>
            
            Overall, Fynaplan's mission is to build a more financially aware society, one person at a time. Through education, outreach, and collaboration, Fynaplan strives to make financial literacy accessible to everyone, helping individuals nationwide make smarter financial decisions and secure a brighter future.
            
            
    </div>


</Layout>