---
import Layout from "../layouts/Layout.astro";
---

<Layout title="fynaplan">
<div class="flex flex-wrap items-center justify-around h-[85vh] w-[100vw] sm:pl-5 sm:pl-20 bg-[#99dddd] rounded-2xl">
  <div class="text-center flex flex-col w-auto gap-10">
	<h1 class="font-extrabold text-white text-5xl sm:text-7xl text-left">Fynaplan</h1>
	<p class="text-xl sm:text-3xl text-left">Talk Finance</p>
	<a href="/lessons/lsn1"><button class="bg-purple-800 rounded-full w-40 h-12 font-semibold text-white">Start Learning</button></a>
  </div>
  <img src="https://cdn.pixabay.com/photo/2024/03/20/10/43/ai-generated-8645207_1280.png"  class="w-96 rounded-xl"/>
</div>

<div class="flex flex-col-reverse sm:flex-row items-center justify-around pt-10 sm:pt-0 sm:h-[85vh] w-[100vw] p-2 gap-3 sm:pl-20 mb-10">
	<div class="text-center flex flex-col sm:w-1/2 gap-10">
	  <p class="text-4xl sm:text-6xl text-left font-bold text-purple-800">About Fynaplan</p>
	  <p class="text-xl sm:text-2xl text-left">Welcome to Fynaplan! We are a student-run financial literacy platform helping bring financial awareness to those nationwide. <br> <br>
		Our Mission is to provide engaging and accessible financial educational content for others, carefully curated by us. <br> <br>
		We hope to promote financial wellness and independence to help teens become financially ready to take on the REAL world.</p>
		<a href="/lessons/lsn1"><button class="bg-purple-800 rounded-full w-40 h-12 font-semibold text-white">Start Learning</button></a>
	</div>
	<img src="https://cdn.pixabay.com/photo/2024/03/20/10/43/ai-generated-8645207_1280.png"  class="w-96 rounded-xl"/>
  </div>

  <div class="flex flex-col justify-center items-center">
	<h1 class="text-4xl sm:text-6xl text-left font-bold text-purple-800">What To Expect?</h1>
	<div class="flex flex-wrap gap-10 pt-6 items-center justify-center">
		<div class="w-80 h-96 items-center flex justify-center bg-gray-200 rounded-lg shadow-xl">
			<p class="text-xl sm:text-2xl p-5 text-center">In depth lessons and quizzes on financial topics</p>		
		</div>
		<div class="w-80 h-96 items-center flex justify-center bg-gray-200 rounded-lg shadow-xl">
			<p class="text-xl sm:text-2xl text-left p-5">Special interest lessons</p>		
		</div>
		<div class="w-80 h-96 items-center flex justify-center bg-gray-200 rounded-lg shadow-xl">
			<p class="text-xl sm:text-2xl text-left p-5">ESL/ELL Learning</p>		
		</div>
		<div class="w-80 h-96 items-center flex justify-center bg-gray-200 rounded-lg shadow-xl">
			<p class="text-xl sm:text-2xl text-left p-5">Financial Tools</p>		
		</div>
	</div>
  </div>

  <div class="sm:w-[90vw] w-screen h-screen sm:m-20 mt-20 p-10 flex flex-col sm:flex-row justify-evenly items-center bg-purple-800 rounded-2xl text-white">
		<p class="text-6xl font-extrabold">Background</p>
		<p class="text-2xl sm:w-96">Fynaplan was founded in 2024, which means this organization is still very new. Our goal is to empower the youth and help them gain confidence with their personal finance journey.</p>
  </div>

  <div>
	<h1 class="text-4xl pt-10 sm:text-6xl font-extrabold text-purple-800 text-center">What Our Studnets Say</h1>
	<div class="flex flex-wrap justify-around items-center gap-10">
		<div class="w-80 h-96 items-center flex flex-col justify-center">
			<p class="text-xl sm:text-2xl p-5 text-center">"I love Fynaplan! It has helped me understand the basics of finance and I am now more confident in my financial decisions."</p>
			<p class="text-xl sm:text-2xl p-5 text-center">- Student A</p>
		</div>
		<div class="w-80 h-96 items-center flex flex-col justify-center">
			<p class="text-xl sm:text-2xl p-5 text-center">"I love Fynaplan! It has helped me understand the basics of finance and I am now more confident in my financial decisions."</p>
			<p class="text-xl sm:text-2xl p-5 text-center">- Student A</p>
		</div>
		<div class="w-80 h-96 items-center flex flex-col justify-center">
			<p class="text-xl sm:text-2xl p-5 text-center">"I love Fynaplan! It has helped me understand the basics of finance and I am now more confident in my financial decisions."</p>
			<p class="text-xl sm:text-2xl p-5 text-center">- Student A</p>
		</div>
  </div>

  <div class="flex flex-col justify-center items-center w-screen h-screen gap-5">
	<h1 class="text-4xl sm:text-6xl sm:p-0 p-2 text-center font-bold text-purple-800">What Are You Waiting For?</h1>
	<a href="/lessons/lsn1">
		<button class="bg-purple-800 rounded-full w-96 h-12 font-semibold text-white">Start Learning Today!</button>
	</a>
	<a href="mailto:fnyaplan@gmail.com">
	<button class="bg-purple-200 rounded-full w-96 h-12 font-semibold text-black">Email: fynaplan@gmail.com</button>
	</a>
	</div>
</Layout>