---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Meet The Team">
    <div class="flex flex-col justify-center items-center w-screen p-20 mt-20 mb-20 gap-5">
        <h1 class="text-4xl sm:text-6xl sm:p-0 p-2 text-center font-bold text-purple-800">Meet Our Team</h1>
        <p class="text-xl sm:text-2xl text-center">We are a group of students passionate about financial literacy and education. We hope to bring financial awareness to those nationwide.</p>
    </div>

    <div class="flex flex-wrap gap-10 items-center justify-center">
        <Card title="John Doe" body="CEO" image="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"/>
        <Card title="John Doe" body="CEO" image="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"/>
        <Card title="John Doe" body="CEO" image="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"/>
        <Card title="John Doe" body="CEO" image="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"/>
        <Card title="John Doe" body="CEO" image="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"/>
        <Card title="John Doe" body="CEO" image="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"/>
        <Card title="John Doe" body="CEO" image="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"/>
        <Card title="John Doe" body="CEO" image="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"/>
        <Card title="John Doe" body="CEO" image="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"/>
        <Card title="John Doe" body="CEO" image="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"/>
    </div>

    <!-- contact us -->
    <div class="flex flex-col justify-center items-center w-screen mt-20 mb-20 gap-5">
        <h1 class="text-4xl sm:text-6xl sm:p-0 p-2 text-center font-bold text-purple-800">Join Our Team Today!</h1>
        <a href="mailto:fnyaplan@gmail.com">
        <button class="bg-purple-200 rounded-full w-96 h-12 font-semibold text-black">Email: fynaplan@gmail.com</button>
        </a>
    </div>

</Layout>