---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="p-5 top-0 sticky">
			<div class="sm:w-1/2 h-16 flex flex-row items-center pl-5 pr-1 justify-around sm:justify-start text-xl rounded-full gap-10 bg-gray-200 shadow-lg">
				<a href="/" class="text-xl font-bold flex-1">Fynaplan</a>
				<a href="/team" class="hidden sm:block">Meet Our Team</a>
				<a href="/about" class="hidden sm:block">About Us</a>
				<a href="/lessons/lsn1" class="px-8 cursor-pointer bg-purple-800 py-3 rounded-full text-white">Lessons</a>
			</div>
		</nav>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

	:root {
		font-family: 'Josefin Sans', sans-serif;
		background-color: white);
		scroll-behavior: smooth;
		/* disable side scrolling */
		overflow-x: hidden;
	}
</style>
